/* Hero Title */




.kz-hero-img{
    max-width: 60%;
}

.kz-events-hero .container{
    padding-left: 100px;
}

.kz-h2{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

.kz-h3{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 999;
}

.kz-space{
    top: 150px;
    left: 0;
    border-bottom-style: solid;
    border-width: 8px;
    border-bottom-color: var(--secondary-color);
    width: 40px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.kz-p{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

@media (max-width: 992px){
    .kz-events-hero .container{
        padding-left: 10px;
    }

    .kz-p{
        padding-bottom: 0px;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .kz-h2{
        margin-top: 50px;
        font-size: 20px;
    }
    .kz-h3{
        font-size: 30px;
    }

    .kz-space{
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .kz-hero-img{
        height: 350px;
    }
}

@media (max-width: 992px) and (min-width: 564px){
    .kz-events-hero .container{
        padding-left: 10px;
    }
    .kz-hero-img{
        height: 400px;
    }
}

@media (max-width: 450px){
    .kz-col-des{
        padding: 0;
    }
    .kz-hero-img{
        width: 100%;
        height: auto;
    }
}




/* Hero Title ends here */


/* Navbar here*/





.kz-nav-item {
    margin-right: 40px;
    font-family: "Acumin";
    position: relative;
    display: inline-block;
    z-index: 2;
}

.kz-nav-item::before {
    transition: all 0.5s;
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 0;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item:hover::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item-active::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}

.nav-logo {
    height: 50px;
    width: auto;
    margin-left: 50px;
}




/* Navbar End */


/* Event Cards */




.kz-card-img{
    width:100%;
    height: 300px;
    transition-duration: 0.4s;
}

.kz-card-des{
    padding: 0;
    transition-duration: 0.4s;
    position: relative;
    height: 500px;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
    box-shadow: 0px 0px 5px 2px #f1eded;
    border-radius: 10px;
    max-width: 350px;

}

.kz-card-des:hover{
    box-shadow: 0px 0px 10px 3px #dcdcdc;
    z-index: 999;
    transition-duration: 0.4s;
}

.kz-event-card{
    border-radius: 5px;
}

.kz-row-margin{
    margin-left: 10%;
    margin-right: 10%;
}

.card-img img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cardtitle{
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    color: var(--primary-color);
}

.cardcontent{
    height: 0;
    transition: all 0.2s;
    padding-left: 10px;
    padding-right: 10px;
}

.cardcontent p{
    text-align: justify;
    color: black;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.transform{
    box-shadow: 0px 0px 0px 0px #f1eded;
    transition-duration: 0.6s;
    /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /* filter: hue-rotate(50deg);  */
    opacity: 0;
    z-index: -1;
}

.kz-img-pos{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition-duration: 0.6s;
    border-radius: 10px;
}

.kz-pos{
    padding-top: 25%;
    transition-duration: 0.5s;
}

.kz-content{
   padding-top: 30px;
   max-width: 400px;
   padding-bottom: 15px;
}

@media (max-width: 1300px){
    .kz-row-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Event Cards end here */