@font-face {
    font-family: "Acumin";
    src: url("../../fonts/Acumin-BdPro.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --primary-color: #1C779C;
    --secondary-color: #f7f5f5;
}

.background {
    width: 100%;
    height: 80%;
}

.kz-hero-illustration {
    position: absolute;
    right: 100px;
    top: 140px;
    height: 480px;
}

.kz-hero-title {
    position: absolute;
    top: 280px;
    left: 250px;
    font-family: "Acumin";
    font-size: 70px;
    color: #fff;
}

.kz-hero-description {
    position: absolute;
    top: 360px;
    left: 250px;
    font-family: "OpenSans";
    font-size: 20px;
    color: #fff;
}

.nav-logo {
    height: 50px;
    width: auto;
    margin-left: 50px;
}

.kz-links {
    margin-left: 800px;
}

.kz-nav-item {
    margin-right: 40px;
    font-family: "Acumin";
    position: relative;
    display: inline-block;
    z-index: 2;
}

.kz-nav-item::before {
    transition: all 0.5s;
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 0;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item:hover::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item-active::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}
.kz-about-us {
    margin: 180px 0px;
}

.kz-about-us-title {
    font-family: "Acumin";
    text-align: center;
    margin-bottom: 50px;
}

.kz-about-us-description {
    font-family: "OpenSans";
    margin-top: 100px;
}

.kz-learn-more {
    font-family: "Acumin";
    border: none;
    background-color: #274afd;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}


/* span {
    color: #274afd;
    margin-left: 10px;
    font-size: 60px;
    font-family: "Acumin";
} */
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #274afd;
    border-radius: 0.6em;
    color: #274afd;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1em 2.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 30px;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
.first {
    border-color: #274afd;
    color: #274afd;
    background-image: linear-gradient(45deg, #274afd 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}
.first:hover {
    background-position: 0;
}
.kz-about-us-img {
    margin-left: 50px;
    height: 400px;
    width: auto;
}