@font-face {
    font-family: "Acumin";
    src: url("../../fonts/Acumin-BdPro.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1C779C;
    --secondary-color: #f7f5f5;
}

.background {
    width: 100%;
    height: 80%;
}




.nav-logo {
    height: 50px;
    width: auto;
    margin-left: 50px;
}


.kz-nav-item {
    margin-right: 40px;
    font-family: "Acumin";
    position: relative;
    display: inline-block;
    z-index: 2;
}

.kz-nav-item::before {
    transition: all 0.2s;
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 70%;
    width: 0;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item:hover::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 70%;
    width: 40%;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item-active::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 70%;
    width: 40%;
    background-color: #274afd;
    z-index: -1;
}

h2 {
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    margin: 0, auto;
    margin-bottom: 10px;

}

h2::after {
    content: '';
    margin-top: 2px;
    height: 2px;
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #274afd;
}

p {
    margin-bottom: 0 !important;
    color: black;
    font-size: 15px;
    padding: 5px;
}


.kz-acm-desc {
    /* background-color: #206aa4; */
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
    /* position: relative; */
}

.kz-acm-desc p {
    margin-top: 15px;
    color: black;
}

.kz-acm-desc h2 {
    margin-top: auto;
}



.kz-acm-int {
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: #bad9ee;
    padding: 24px;
    border-radius: 20px;

}

.kz-acm-int h4 {

    font-size: 30px;
    margin-bottom: 30px;
    color: black;

}

.kz-acm-int h5 {
    font-size: 20px;
}

.kz-acm-int h5 {
    display: inline-block;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;

    text-decoration: none;
    color: inherit;

}

.kz-acmsrm {
    background-image: linear-gradient(to right, #0063b2ff, rgb(114, 162, 184));
    padding: 24px;
    border-radius: 10px;

}

.kz-acm-int {

    margin-top: 40px;
    margin-bottom: 20px;
}

.kz-acmsrm {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.kz-acmsrm h5 {
    display: inline-block;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;

    text-decoration: none;
    color: inherit;

}

.kz-form {
    /* background: url(../img/formbg1.jpg); */
    background-color: #bad9ee;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;

    border-radius: 50px;
}

.kz-form-logo {
    display: none;
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;


}

.kz-form h3 {
    margin-bottom: 50px;
    color: black;
    font-weight: 800;
}

.kz-hero {
    height: 80vh;
    position: relative;
}


.kz-background {
    height: 100%;
}

.background {
    width: 100%;
    height: 50%;
}

.kz-hero1-illustration {
    position: absolute;
    right: 40px;
    top: 60px;
    height: 300px;
}


.kz-hero1-title {
    position: absolute;
    top: 280px;
    left: 200px;
    font-family: "Acumin";
    font-size: 70px;
    color: #fff;
}

@media only screen and (max-width: 1110px) {
    .kz-hero1-illustration {
        display: none;
    }

    .kz-hero1-title {
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .kz-hero {
        height: 50vh;
    }

    .kz-background {
        position: relative;
    }

    .background {
        height: 100%;
    }

}

.kz-hero-illustration {
    /* position: relative; */
    margin-left: 100px;
    left: 640px;
    right: 100px;
    top: 180px;
    height: 480px;
}

.kz-hero-title {
    /* position: relative; */
    top: 280px;
    left: 250px;
    font-family: "Acumin";
    font-size: 70px;
    color: white;
}

.kz-mid p {

    margin-top: 70px;
    color: black;

}

.kz-img-mid {

    height: 100px;

}

.mid-image2 {
    height: 350px;
    overflow: hidden;
    margin-top: 100px;
    /* transform: translate(180px,-300px); */
}

.kz-srm {
    margin-top: 100px;
    text-align: center;
    color: var(--primary-color);
    font-size: 60px;
}

.kz-srm-desc {
    margin-top: 80px;
    font-size: 20px;
    background-color: #1C779C;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: white;

}

/* ISHAN CHANGES FROM HERE... */
.kz-ic-hero {
    height: 80vh;
    background: url("../img/bg.png");
    background-position: top;

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.kz-ic-hero h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    /* font-size: 50px; */
    transform: translateY(-50%);
}

.kz-ic-hero img {
    position: absolute;
    height: 300px;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

/* Navbar here*/

.kz-nav-item {
    margin-right: 40px;
    font-family: "Acumin";
    position: relative;
    display: inline-block;
    z-index: 2;
}

.kz-nav-item::before {
    transition: all 0.5s;
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 0;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item:hover::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}

.kz-nav-item-active::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 5px;
    height: 10%;
    width: 35px;
    background-color: #274afd;
    z-index: -1;
}

.nav-logo {
    height: 50px;
    width: auto;
    margin-left: 50px;
}

@media screen and (max-width: 800px) {
    .kz-links {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 970px) {
    .kz-ic-hero img {
        height: 200px;
    }

    .kz-ic-hero h1 {
        top: 50%;
        left: 40%;
        transform: translateX(-50%);
    }
}



.kz-ic-hero h1 {
    font-size: 80px;
    color: white;
}

.kz-acm-desc {
    top: 10px;
}




@media only screen and (max-width: 880px) {
    .kz-ic-hero img {
        height: 200px;
    }

    .kz-ic-hero h1 {
        top: 50%;
        left: 40%;
        font-size: 60px;

        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 763px) {
    .kz-ic-hero img {
        display: none;
    }

    .kz-ic-hero h1 {
        top: 50%;
        left: 50%;
        font-size: 100px;

        transform: translateX(-50%);

    }
}

@media only screen and (max-width: 619px) {
    .kz-ic-hero img {
        display: none;
    }

    .kz-ic-hero h1 {
        top: 50%;
        left: 50%;
        font-size: 60px;

        transform: translateX(-50%);

    }
}

@media only screen and (max-width: 350px) {
    .kz-ic-hero img {
        display: none;
    }

    .kz-ic-hero h1 {
        top: 50%;
        left: 50%;
        font-size: 50px;

        transform: translateX(-50%);

    }
}