.main-content {
  margin: 50px auto;
  padding: 50px;
  max-width: 1350px;
  background: #fff;
}

.page-title {
  font-size: 45px;
  margin: 0 auto 80px auto;
}

.page-title:after {
  content: "";
  width: 110px;
  height: 4px;
  background-image: linear-gradient(to left,#1c779c,#31f5ff);
  display: block;
  margin: 10px auto 0 auto;
  
}

.profile-card {
  background: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.profile-card .profile-card_cover {
  height: 130px;
  overflow: hidden;
  background-image: linear-gradient(to left,#1c779c,#7df9ff);
}

.profile-card .profile-card_padding {
  padding: 35px;
  position: relative;
  margin-top: -95px;
}

.profile-card .profile-card_image {
  width: 125px;
  height: 125px;
  border-radius: 125px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0 auto 15px auto;
  
}

.profile-card .profile-card_details h3 {
  font-size: 21px;
}

.profile-card .profile-card_details p {
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-card .profile-card_social {
  text-align: center;
}

.profile-card .profile-card_social a {
  display: inline-block;
}

.profile-card .profile-card_social img {
  width: 33px;
  margin: 5px 10px;
}